{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div class="container-md my-3 position-relative">
  <div class="row">
    <aside class="d-none d-sm-block col-sm-3 pl-1">
      <nav id="navbar3" class="navbar navbar-light bg-light flex-column  align-items-stretch p-3 sticky-top">
        <div style="height: 50px"></div>
        <a class="navbar-brand" href="#">Safety</a>
        <a class="nav-link" href="#">Overview</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l1">Overview</a>      
        </nav>
        <a class="nav-link" href="#">Part & Design</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l2">Organism</a>
          <a class="nav-link ms-3 my-1" href="#l3">Part</a>
          <a class="nav-link ms-3 my-1" href="#l4">Design</a>
          
        </nav>
        <a class="nav-link" href="#">Laboratory</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l5">Conditions</a>
          <a class="nav-link ms-3 my-1" href="#l6">Risk Management</a>
          <a class="nav-link ms-3 my-1" href="#l7">Laboratory Access Security</a>
          <a class="nav-link ms-3 my-1" href="#l8">Experimental training</a>
          <a class="nav-link ms-3 my-1" href="#l9">Waste treatment </a>
        </nav>
        <a class="nav-link" href="#">Opinion acquisition</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l10">Opinion acquisition</a>

        <a class="nav-link" href="#">Guideline</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#l11">Guideline</a>
          
        </nav>
      </nav>
    </aside>
    <div class=" col col-sm-9 mx-auto content-column">
      <div class="link_offset" id="l1"></div>
      <div class="pt-content-column-red p-4">
        <h1>Overview</h1>
        <hr>
        <br>
        <p>
          Our team always puts experimental safety and risk control first in our projects and actions. After all, safety is the most important thing. 
          We consider safety throughout the project, including experimental design, experimental implementation, and future impact. 
          We strictly follow the national and relevant institutional safety regulations to ensure the safety of our experiments, and we have experienced instructors to help us control risks.         </p>
      </div>

      
      <div class="link_offset" id="l2"></div>
      <div class="pt-content-column-red p-4">

        <h1>Organism</h1>
        <hr>
        <br>
        <p>
          The organisms we use are DH5α and EcN(E. coli DH5-alpha and E. coli Nissle 1917 ), which are both E. coli, and they are both low-risk organisms for humans and the environment. 
          Of course, at the same time, we follow strict safety guidelines for microbiological experiments to ensure that the microorganisms we use do not spread.        </p>
      </div>

      <div class="link_offset" id="l3"></div>
      <div class="pt-content-column-red p-4">

        <h1>Part</h1>
        <hr>
        <br>
        <p>
          The effector genes we selected are all genes related to conventional metabolism originating from natural microorganisms, and they are harmless. 
          At the same time, considering the potential application of probiotic products in the future, in order to further ensure safety, 
          we have also designed capsules to isolate the engineering bacteria from the external environment as much as possible before use. 
          And we also collaborated with Beijing University of Chemical Technology on an oxygen suicide switch to ensure that the genes we selected do not spread in the environment.        </p>
      </div>

      <div class="link_offset" id="l4"></div>
      <div class="pt-content-column-red p-4">

        <h1>Design</h1>
        <hr>
        <br>
        <p>
          In terms of specific experimental design, we strive to reduce the risks during the experimental process as much as possible. 
          We will review a large amount of information and select safer experimental plans to conduct our experiments. This section is discussed in more detail in our safety form.
        </p>

      </div>
      
      <div class="link_offset" id="l5"></div>
      <div class="pt-content-column-red p-4">

        <h1>Conditions</h1>
        <hr>
        <br>
        <p>
          First of all, in terms of experimental conditions, our laboratory has sufficient, qualified, and safe facilities that can support and guarantee our experiments. 
          In terms of experimental areas, we have a standard microbiological laboratory of level 1 for low-side microbial (E. coli), which has an ultra-clean table, 
          some basic protective equipment such as disposable masks, gloves, etc. Second, we also possess a moderate containment lab for experiments with higher aseptic and safety requirements, 
          which has a professional ESCO biosafety cabinet. In terms of personal protection, 
          our laboratory provides enough disposable medical gloves and masks for everyone to prevent inhalation of microbes and direct contact with hazardous substances.        </p>
        <img src="https://static.igem.wiki/teams/4788/wiki/lab/20.jpg" class="d-block mx-auto mt-3"
          width="95%">
      </div>


      <div class="link_offset" id="l6"></div>
      <div class="pt-content-column-red p-4">

        <h1>Risk Management</h1>
        <hr>
        <br>
        <p>
          we have sufficient risk control measures. We have emergency shower devices and eye wash devices, 
          as well as emergency medical kits to provide emergency treatment for experimental personnel when hazardous substances contact them or other injuries occur. 
          On the walls of the laboratory, we post many reminders that emphasize laboratory safety and norms to remind experimental personnel. 
          And we also post laboratory safety guidelines and laboratory safety center emergency contact numbers on the outer walls of the laboratory to remind everyone who enters the laboratory.         </p>
        <p>
          For usual personal protection, our laboratory provides sufficient disposable medical gloves and masks for each person to prevent inhalation of microorganisms. For the whole laboratory building access, People who want to enter the building must use their activated campus card, otherwise the door cannot be opened. Only those who have submitted and approved an application to the Lab Safety Center can have their campus card activated. For our laboratory access, we have updated the fingerprint and coded locks on the lab doors (can see it in picture we uploaded in the safety form) since we took over the lab. Only our team members can enter our laboratory.
        </p>
        <img src="https://static.igem.wiki/teams/4788/wiki/lab/33.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <img src="https://static.igem.wiki/teams/4788/wiki/lab/34.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <img src="https://static.igem.wiki/teams/4788/wiki/lab/8.jpg" class="d-block mx-auto mt-3"
          width="95%">
      </div>

      <div class="link_offset" id="l7"></div>
      <div class="pt-content-column-red p-4">

        <h1>Laboratory Access Security</h1>
        <hr>
        <br>
        <p>
          For access to the entire laboratory building, people who want to enter the building must use their activated campus cards, otherwise the door cannot be opened. 
          Only those who have submitted and approved applications to the laboratory safety center can activate their campus cards.         
        </p>
        <p>
          For access to our laboratory, our laboratory door has fingerprint and code locks. Only our team members can enter our laboratory. 
        </p>
        <img src="https://static.igem.wiki/teams/4788/wiki/lab/lock.jpg" class="d-block mx-auto mt-3"
          width="95%">
      </div>

      <div class="link_offset" id="l8"></div>
      <div class="pt-content-column-red p-4">
        <h1>Experimental training</h1>
        <hr>
        <br>
        <p>
          Of course, before we start the experiment, each of us was trained in laboratory skills, including but not limited to how to inoculate bacteria, 
          how to use sterilization devices and how to do personal protection. So during our project, it greatly reduces risks of microbes' harm to human body. 
          In the last day of our training, our supervisor will examine us, and those who fail will continue to study until they pass before being allowed to enter the lab.         </p>
      </div>

      <div class="link_offset" id="l9"></div>
      <div class="pt-content-column-red p-4">

        <h1>Waste treatment </h1>
        <hr>
        <br>
        <p>
          All waste is disposed of according to the guidelines of BMBL table. Finally, the disposed experimental wastes are sorted according to Lanzhou University's waste disposal standard, stored in special waste bins, 
          and transported to the waste disposal transfer station at the designated time for centralized disposal by the university's special laboratory staff.        </p>
      </div>

      <div class="link_offset" id="l10"></div>
      <div class="pt-content-column-red p-4">

        <h1>Opinion acquisition</h1>
        <hr>
        <br>
        <p>
          We will conduct interviews with experts and professors, introduce our project to them, and ask for their opinions in many aspects, including safety. 
          We will pay attention to or improve certain safety issues based on the experts' opinions.       </p>
        <p>
          And we will also introduce our project to the general public and ask for their opinions and concerns about the project. 
          We will pay close attention to the safety related issues that the public is concerned about in order to improve the project and make the overall safety of the project better.
        </p>
      </div>

      <div class="link_offset" id="l11"></div>
      <div class="pt-content-column-red p-4">

        <h1>Guideline</h1>
        <hr>
        <br>
        <p>
          Our experiments strictly follow the relevant national laws and regulations and the regulations of relevant institutions, 
          and are carried out under the supervision of relevant institutions and personnel.        </p>
        <p>
          Specifically speaking, in China, we follow 
          &lt;People’s Republic of China Infectious Disease Prevention and Control Law&gt;,
          &lt;Pathogenic Microbiology Laboratory Biosafety Management Regulations&gt;, &lt;Medical Waste Management Regulations&gt;,
          &lt;General Requirements for Laboratory Biosafety (GB19489-2008)&gt;, &lt;General biosafety Standard for Microbiological and Biomedical Laboratories&gt;
          <!-- <People’s Republic of China Infectious Disease Prevention and Control Law>, <Pathogenic Microbiology Laboratory Biosafety Management Regulations>, <Medical Waste Management Regulations>, 
            <General Requirements for Laboratory Biosafety (GB19489-2008)>, <General biosafety Standard for Microbiological and Biomedical Laboratories></General> -->
        </p>
        <p>
          At Lanzhou University, we follow Laboratory Safety System of School of Life Sciences, Lanzhou University.
        </p>
        <p>
          In the laboratory, we also follow other specific requirements of other laboratories.
        </p>
        <img src="https://static.igem.wiki/teams/4788/wiki/lab/7.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <img src="https://static.igem.wiki/teams/4788/wiki/lab/guide2.jpg" class="d-block mx-auto mt-3"
          width="95%">
      </div>
      
    </div>
  </div>
</div>

{% endblock %}
