{% extends "layout.html" %}
  
{% block title %}Integrated Human Practice{% endblock %}
{% block lead %}Describe all the Integrated Human Practice issues of your project.{% endblock %}

{% block page_content %}

<div class="container-md my-3 position-relative">
  <div class="row">
    <aside class="d-none d-sm-block col-sm-3 pl-1">
      <nav id="navbar3" class="navbar navbar-light bg-light flex-column  align-items-stretch p-3 sticky-top">
        <div style="height: 50px"></div>
        <a class="navbar-brand" href="#">Integrated Human Practice</a>
        <a class="nav-link" href="#">Integrated Human Practice</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l1">Integrated Human Practice</a>      
        </nav>
        <a class="nav-link" href="#">Phase 1: Brainstorming & Background Checks</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l2">Phase 1: Brainstorming & Background Checks</a>
         
        </nav>
        <a class="nav-link" href="#">Phase 2: Exploration & Change</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l3">Phase 2: Exploration & Change</a>
        </nav>
          
        </nav>
      </nav>
    </aside>
    <div class=" col col-sm-9 mx-auto content-column">
      <div class="link_offset" id="l1"></div>
      <div class="pt-content-column-red p-4">
        <h1>Integrated Human Practice: Explore, Change and Impact</h1>
        <hr>
        <br>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/1.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          Our project aims to develop an intelligent cholesterol regulation system based on gut microbiota. This system is designed to reduce the absorption of cholesterol during high-fat diets, thus preventing the rise of cholesterol levels and the onset of hypercholesterolemia. We began our investigation at the very source of the disease. By interacting with clinical doctors, nutritionists, biologists, pharmacologists, public health officials, health product professionals, the general public, and high-risk groups like the elderly and those diagnosed with hypercholesterolemia, we formulated a plan that could influence the status quo of hypercholesterolemia both inside and outside the lab, potentially making our product a reality.        </p>
      </div>

      
      <div class="link_offset" id="l2"></div>
      <div class="pt-content-column-red p-4">

        <h1>Phase 1: Brainstorming & Background Checks</h1>
        <hr>
        <br>
        <p>
          Starting at the Source - Clinical Insights:
        </p>
        <p>
          Firstly, we visited clinicians at the First Hospital of Lanzhou University. Beginning with our mentor, Professor Liu Yatao, we reached out to the departments of Laboratory Medicine, Transfusion, Geriatrics, Neurology, Endocrinology, Cardiology, Nutrition, and Gastroenterology. Through interviews with these clinicians, we gained a basic understanding of hypercholesterolemia and how each department addresses it.     
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/2.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/3.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/4.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          Through our extended research at the hospital, we recognized a rising trend of patients with lipid disorders in Gansu Province. We obtained data of hypercholesterolemia patients from 2017-2022 at the First Hospital of Lanzhou University and produced corresponding statistical graphs. This data made it clear that there's a growing local health issue concerning increasing incidence rates of hypercholesterolemia.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/5.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          Subsequently, we investigated global cholesterol level changes. Using data we collected, we drew heat maps showing global male and female cholesterol levels in 2017 and 2021, observing the differences. We found that developed countries tend to have higher cholesterol levels than developing ones. Through literature reviews, we noted that with economic development and changing lifestyles, cholesterol levels in developing nations are also on the rise. We believe hypercholesterolemia has become a global issue.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/6.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/7.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          Given that hypercholesterolemia is both a local community issue and a global one, we sought further validation of our assessments by visiting the Gansu Provincial Center for Disease Control and the Health Examination Center of the First Hospital of Lanzhou University. After communicating with the head of the Chronic Disease Department at the Gansu Provincial CDC and conducting research at the Health Examination Center, our hypothesis – that there's a rapidly increasing trend of hypercholesterolemia locally – was confirmed.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/8.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/9.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          Through these investigations, we've gained a deep understanding of the onset, progression, and outcomes of hypercholesterolemia. After intense brainstorming, we decided to proceed with our plan of constructing an intelligent cholesterol regulation system and embarked on further exploration.
        </p>

        </div>

      <div class="link_offset" id="l3"></div>
      <div class="pt-content-column-red p-4">

        <h1>Phase 2: Exploration & Change</h1>
        <hr>
        <br>
        <p>
        After completing the background research in the first phase and setting the project direction, we embarked on further exploration and investigation. We planned interviews with biologists and had conversations with several, including Professor Xie from the Genetics Institute and Professor Jin from the Medical Frontier Innovation Center. They provided invaluable suggestions on our project design, including aspects such as our promoter and experimental safety, many of which significantly refined our project. We not only consulted experts within our country but also reached out internationally, meeting with Professor Tawatchai Sumpradit from Thailand and a former nutritionist and biologist from the USA.        
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/10.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/11.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/12.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          Through these discussions, the idea of “customizing” our product and attempting to deploy it in real-world situations emerged. Given that different populations have unique physiologies, their cholesterol digestion and absorption patterns vary. To ensure our product could benefit a broader spectrum of people, we designed oleic acid inducers. By adjusting the quantity of FADO operators, we controlled the activation threshold of the intelligent cholesterol regulation system. This allowed us to tailor our product based on suitable activation thresholds for different regions and even individuals, ensuring a broader outreach.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/13.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          At this juncture, we studied tutorials related to business plans and visited various innovation and entrepreneurship events to gain insights into the entrepreneurial world.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/16.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        
        <p>
          In addition, we commenced research on general health knowledge, initiating our education and inclusivity work, with the business plan following suit. Moreover, we kept an eye on the United Nations Sustainable Development Goals to ensure we're on the right track. We conducted ongoing interviews in places like markets, communities, and hospitals. We held several education events, adhering to our principle of 'action first', engaging directly with stakeholders to understand their perspectives on healthy eating and hypercholesterolemia.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/15.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/14.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        
        <p>
          A common saying is that "practice brings true knowledge". This is well demonstrated in the iGEM competition. HP (Human Practices) work guides us at every step. Early HP tasks encompassed our initial background checks and expert consultations. After these checks, we refined our project. During the mid-phase, we continuously explored and discovered through our experiments, also benefiting from interactions with other teams and our mentors.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/17.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/18.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/19.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/ihp/20.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          Following this, both our experimental and HP (Human Practices) components of the project continued to progress. Not only did we create a dietary guide and recipe book tailored for the diverse ethnic groups in the northwest region, but we also successfully completed our experiments, delivering results that we are truly proud of.
        </p>
      </div>
      
      
    </div>
  </div>
</div>

{% endblock %}
