{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Describe all the Education issues of your project.{% endblock %}

{% block page_content %}

<div class="container-md my-3 position-relative">
  <div class="row">
    <aside class="d-none d-sm-block col-sm-3 pl-1">
      <nav id="navbar3" class="navbar navbar-light bg-light flex-column  align-items-stretch p-3 sticky-top">
        <div style="height: 50px"></div>
        <a class="navbar-brand" href="#">Education</a>
        <a class="nav-link" href="#">Education</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l1">Education</a>      
        </nav>
        <a class="nav-link" href="#">Online Education</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l2">Weekly Updates on Synthetic Biology Knowledge</a>
          <a class="nav-link ms-3 my-1" href="#l3">Educational Video Production</a>
          <a class="nav-link ms-3 my-1" href="#l4">Online Surveys</a>
          <a class="nav-link ms-3 my-1" href="#l5">ICII</a>
          <a class="nav-link ms-3 my-1" href="#l6">SynBio Hourstory Comic Science Popularization</a>
          <a class="nav-link ms-3 my-1" href="#l7"> iG20 Joint Science Popularization Videos</a>

        </nav>
        <a class="nav-link" href="#">Offline Education</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l8">Nationwide Teaching Assistance</a>
          <a class="nav-link ms-3 my-1" href="#l9">Promoting Synthetic Biology and Scientific Knowledge in Lanzhou</a>
          <a class="nav-link ms-3 my-1" href="#l10">Promoting Health Knowledge on Campus</a>
          <a class="nav-link ms-3 my-1" href="#l11">Reflection and Progress</a>
          <a class="nav-link ms-3 my-1" href="#l12">Further Outreach to Society </a>
        </nav>
        <a class="nav-link" href="#">Conclusion</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#l13">Conclusion</a>

        </nav>
      </nav>
    </aside>
    <div class=" col col-sm-9 mx-auto content-column">
      <div class="link_offset" id="l1"></div>
      <div class="pt-content-column-red p-4">
        <h1>Education</h1>
        <hr>
        <br>
        <p>
          Education, the primary tool to elevate human quality and promote human advancement. Knowledge, akin to science, loses its significance if confined to only a few hands. 
          A successful research project should also be dedicated to disseminating its scientific insights. Humanity can only progress when an increasing number of people gain more knowledge. 
          Education is not one-dimensional. As said in "The Poetics," "to educate through entertainment."
           We believe that the pinnacle of education is to provide both knowledge and joy to the learners. 
           Mr. Lei Feng once said, "One's life is finite, but serving the people is infinite. I want to devote my limited life to the infinite service of the people." 
           We too dedicate ourselves in the limited time we have. Being part of the iGEM project and researching such valuable topics is our greatest honor. 
          Hence, we strive to invest our limited time in as many diverse and enriching education activities as we can.         
        </p>
        <p>
          We categorize our education initiatives into online and offline approaches.
        </p>
      </div>

      
      <div class="link_offset" id="l2"></div>
      <div class="pt-content-column-red p-4">

        <h1>Weekly Updates on Synthetic Biology Knowledge</h1>
        <hr>
        <br>
        <p>
          We registered our team's official WeChat account and released weekly content related to synthetic biology and topics associated with our project.        
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/1.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/2.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
      </div>

      <div class="link_offset" id="l3"></div>
      <div class="pt-content-column-red p-4">

        <h1> Educational Video Production</h1>
        <hr>
        <br>
        <p>
          We produced a total of 32 educational videos. Out of these, 22 videos are divided into seven modules: 
          biology knowledge, genetic engineering, chronic diseases, synthetic biology, cholesterol, hypercholesterolemia, and gut microbiome. 
          The other 10 videos focus solely on synthetic biology concepts. The lesson plans for these 10 videos can be found here.        
        </p>
        <p>
          During the video production process, we extensively consulted experts for guidance. 
          We received advice from Professor Xie, Lanzhou's leading science educator and the president of the Gansu Health Management Research Association, 
          as well as guidance from Mr. Yan Jun, the chief science educator at Lanzhou University's First Hospital.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/3.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/4.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/5.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/6.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>

      </div>

      <div class="link_offset" id="l4"></div>
      <div class="pt-content-column-red p-4">

        <h1>Online Surveys</h1>
        <hr>
        <br>
        <p>
          We consider the dissemination of surveys as a form of public science education since they can help participants gain insights into various topics. 
          Our team issued four surveys in total. Additionally, we collaborated with Northwest University, University of Macau, 
          and Southern University of Science and Technology teams to develop joint surveys, sharing and disseminating each other's surveys. 
          Our surveys addressed topics such as hypercholesterolemia awareness, genetic engineering, educational equity, and LGBTQ communities.
        </p>

      </div>
      
      <div class="link_offset" id="l5"></div>
      <div class="pt-content-column-red p-4">

        <h1>ICII</h1>
        <hr>
        <br>
        <p>
          ICII – into China into iGEM, is an event sponsored and organized by Chinese participants since 2021. 
          This year's ICII was initiated by NAU-CHINA, who established an online synthetic biology education platform. 
          The platform's content is divided into two main segments. First, it features project introductions from various teams,
          including NAU-CHINA, BIT-CHINA, SDU-CHINA, and LZU-CHINA. Second, besides storing instructional materials, 
          ICII describes the guiding methodologies employed in this year's all-age education program. 
          A primary objective is ensuring the reproducibility and reference value of this year's educational successes. 
          Future educators can find inspiration and insights from the stored educational resources, avoiding starting from zero in their educational projects. 
          Concurrently, it offers self-learning resources for different age groups, with links to Baidu Tieba, Bilibili, and other platforms.      </p>
          <div style="text-align:center;">
            <img src="https://static.igem.wiki/teams/4788/wiki/education/7.jpg" class="d-block mx-auto mt-3"
                width="50%">
          </div>
      </div>


      <div class="link_offset" id="l6"></div>
      <div class="pt-content-column-red p-4">

        <h1>SynBio Hourstory Comic Science Popularization</h1>
        <hr>
        <br>
        <p>
          SynBio Hourstory is a synthetic biology historical education initiative co-launched by teams from the University of Chinese Academy of Sciences, 
          Lanzhou University, Beijing Normal University, Hainan University, Ocean University of China, Wuhan University, Tianjin University, and Guangxi University. 
          The aim is to introduce major events in synthetic biology's development to the public through simple and visually appealing comics.        
        </p>
        
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/8.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
      </div>

      <div class="link_offset" id="l7"></div>
      <div class="pt-content-column-red p-4">

        <h1>iG20 Joint Science Popularization Videos</h1>
        <hr>
        <br>
        <p>
          As the main organizers, we launched the educational initiative iGEM Group of 20 (iG20). 
          A total of 28 institutions participated. We created a 30-minute promotional video showcasing various team projects and a multi-institutional science relay video. 
          The promotional video for each institution consists of four segments: 
          institution introduction, project description, preparatory work, and a shout-out to iGEM 2023 at a historic or iconic location!    
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/9.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/10.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/11.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
      </div>

      <div class="link_offset" id="l8"></div>
      <div class="pt-content-column-red p-4">
        <h1>Nationwide Teaching Assistance</h1>
        <hr>
        <br>
        <p>
          We mobilized almost all the resources available within our university and managed to establish contact with 9 teaching assistance teams dispatched by various student organizations, 
          and another 3 teams from other institutions. 
          These 12 teams took our lecture slides across China, spreading the knowledge we wanted to share in provinces like Guangxi, Gansu, Guizhou, and Liaoning.         
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/12.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/13.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/14.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/15.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
      </div>

      <div class="link_offset" id="l9"></div>
      <div class="pt-content-column-red p-4">

        <h1>Promoting Synthetic Biology and Scientific Knowledge in Lanzhou </h1>
        <hr>
        <br>
        <p>
          In Lanzhou, we organized multiple engaging science-related events. 
          Our audience ranged from elementary to college students. By combining fun experiments such as DIY canvas bags, 
          handmade soap creation, coin extraction with pepper powder, color-changing cabbage, and paper-cutting, 
          with the promotion of synthetic biology and awareness of hypercholesterolemia and healthy lifestyles, 
          we successfully conducted many engaging scientific activities, receiving positive feedback.     
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/16.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/17.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/18.png" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/19.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
      </div>

      <div class="link_offset" id="l10"></div>
      <div class="pt-content-column-red p-4">

        <h1>Promoting Health Knowledge on Campus</h1>
        <hr>
        <br>
        <p>
          We designed hand-made posters about obesity and hypercholesterolemia prevention and displayed them around campus, drawing students' attention and promoting healthy living.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/20.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/21.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/22.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
      </div>

      <div class="link_offset" id="l11"></div>
      <div class="pt-content-column-red p-4">

        <h1>Reflection and Progress</h1>
        <hr>
        <br>
        <p>
          Of course, not all our educational efforts went smoothly. During our teaching assistance activities, 
          our materials didn't yield great results in the Tibetan Autonomous Prefecture. 
          We reflected deeply on whether our educational outreach encompassed a broad enough audience. 
          Within our means, we added Tibetan voiceovers to some of our educational videos. 
          Initially, our activities lacked appeal and were too challenging for younger participants, e.g., intricate paper-cutting tasks. 
          We revamped our activity plans, focusing more on fun experiments. We've also planned an event at an autism center, with full communication established with the in-charge faculty. 
          We've tried to bring movie scenarios to life. For instance, inspired by a scene from the film "Tomato Tycoon," 
          we designed an event where participants can win prizes by losing 2KG in a set period. 
          Other options included a health check-in or answering synthetic biology questions to win prizes.        
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/11-1.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/11-2.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/11-3.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
      </div>

      <div class="link_offset" id="l12"></div>
      <div class="pt-content-column-red p-4">

        <h1>Further Outreach to Society</h1>
        <hr>
        <br>
        <p>
          We've made efforts to consider all stakeholders related to our project, organizing educational initiatives accordingly. 
          We conducted informational sessions for the elderly, who are at high risk for hypercholesterolemia, and for the general public. 
          Alongside, we accompanied health check-up center staff in educating certain patients. We've also been in constant communication with governmental bodies, 
          interviewing Mr. Ren from the Disease Control and Prevention Center and discussing with several doctors. We've strived to educate the various groups affected by this disease: 
          high-risk individuals, the general at-risk population, patients, medical practitioners, supervisory bodies, and the general public.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/23.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/24.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/25.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/12-1.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          We believe that education isn't about empty talk; it's about learning by doing and doing while learning. Furthermore, education shouldn't discriminate; 
          it's for everyone regardless of their status. With this in mind, we ventured into local markets to educate vendors and the public about healthy eating. 
          In the process, we also experienced the life of street vendors.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/26.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          <strong>Distribution of pamphlets: </strong> Although the educational level of the grassroots population in our country is still not high, many vendors aren't even aware of what cholesterol is. 
          Nevertheless, everyone aspires to live a healthy life. Based on this, we distributed our health pamphlets to them, 
          emphasized the importance of healthy living and the prevention of high cholesterol, and consulted them on issues related to food prices and dietary health.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/12-2.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/12-3.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
        <p>
          <strong>Display of recipes and guidelines: </strong>  Subsequently, in collaboration with clinical doctors and nutritionists, we developed a dietary guide tailored to suit the dietary habits of various regions and ethnic groups. 
          We hoped this would serve as a clear educational tool and aid for many.
        </p>
        <div style="text-align:center;">
          <img src="https://static.igem.wiki/teams/4788/wiki/education/27.jpg" class="d-block mx-auto mt-3"
              width="50%">
        </div>
      </div>

      <div class="link_offset" id="l13"></div>
      <div class="pt-content-column-red p-4">

        <h1>Conclusion</h1>
        <hr>
        <br>
        <p>
          Throughout our journey in the realm of education, we've faced numerous challenges and expended a lot of effort, more than can be detailed here. What's clear to us, 
          however, is that education can truly transform an individual. The very process of exploring how to educate is in itself an education.
           This experience has taught us that, in anything we undertake, 
          we need to first think, then try, learn from setbacks, adapt, continue thinking, and keep adapting until we succeed. Only then can we hope to reach and positively influence more people.
        </p>
      </div>

    </div>
  </div>
</div>

{% endblock %}
