{% extends "layout.html" %}

{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue
with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<div class="container-md my-3 position-relative">
  <div class="row">
    <aside class="d-none d-sm-block col-sm-3 pl-1">
      <nav id="navbar3" class="navbar navbar-light bg-light flex-column  align-items-stretch p-3 sticky-top">
        <div style="height: 50px"></div>
        <a class="navbar-brand" href="#">Education</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#l1">Summer Plasmid Orienteering</a>
            <a class="nav-link ms-3 my-1" href="#l2">Intellectual Disabled People</a>
            <a class="nav-link ms-3 my-1" href="#l3">Primary School Science and Technology Week</a>
            <a class="nav-link ms-3 my-1" href="#l4">Updates to the Education Package</a>
            <a class="nav-link ms-3 my-1" href="#l5">Biological Band Performance</a>
            <a class="nav-link ms-3 my-1" href="#l6">ICII</a>
            <a class="nav-link ms-3 my-1" href="#l7">Emoji Packs for Public</a>
            <a class="nav-link ms-3 my-1" href="#l8">Art Exhibition</a>
            <a class="nav-link ms-3 my-1" href="#l9">Gut Alliance</a>
            <a class="nav-link ms-3 my-1" href="#l10">Mid-Autumn Lantern</a>
            <a class="nav-link ms-3 my-1" href="#l11">Debate Competition</a>
        </nav>
      </nav>
    </aside>
    <div class=" col col-sm-9 mx-auto content-column">
      <div class="link_offset" id="l1"></div>
      <div class="pt-content-column-purple p-4">
        <h1>Education</h1>
        <hr>
        <br>
        <p>
          Education, the primary tool to elevate human quality and promote human advancement. Knowledge, akin to science, loses its significance if confined to only a few hands. 
          A successful research project should also be dedicated to disseminating its scientific insights. 
          Humanity can only progress when an increasing number of people gain more knowledge. Education is not one-dimensional. 
          As said in "The Poetics," "to educate through entertainment." We believe that the pinnacle of education is to provide both knowledge and joy to the learners. 
          Mr. Lei Feng once said, "One's life is finite, but serving the people is infinite. I want to devote my limited life to the infinite service of the people." 
          We too dedicate ourselves in the limited time we have. Being part of the iGEM project and researching such valuable topics is our greatest honor. 
          Hence, we strive to invest our limited time in as many diverse and enriching education activities as we can.
        </p>
        <p>
          We categorize our education initiatives into online and offline approaches.
        </p>
      </div>


      <div class="link_offset"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Online Education</h1>
        <hr>
        <br>
        <p>
          We used PVC board and printed out the plasmids and gene fragments. Then we let the participants receive the
          corresponding gene fragment at each locus after a correct answer based on the plasmid randomly received at the
          beginning, finally they followed the circular route back to starting point. In the final part of our game,
          participants need to splice gene fragments on the plasmid in the right order, making the plasmid can achieve
          the therapeutic effect. In the end, according to the time taken by each group of participants to complete the
          entire activity as the basis of the ranking, the top three will be awarded with small prizes related to
          biology.
        </p>
        <iframe id="myframe" src="https://static.igem.wiki/teams/4156/wiki/summer-plasmid-orienteering/map.pdf"
          width="100%" height="600" frameborder="0"></iframe>
        <br>
        <p>Above is our roadmap, along with a brief description of our project this year and why participants are
          piecing together these parts were printed on the back.
        </p>
        <p>
          In order to carry out the activity smoothly and improve the influence of the activity, we cooperated with the
          Organization Department of the Student Union of School of Life Sciences of Lanzhou University to jointly carry
          out this activity. To our surprise, after the announcement of the activity, many students actively signed up,
          which we had not expected. The number of teams or individuals who wanted to participate was far more than the
          20 groups or persons we had expected.
        </p>
        <div id="img-content" style="overflow-x : auto;">
          <ul class="img-list" style="width: 3000px;">
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/summer-plasmid-orienteering/slide-picture/1.jpg"
                alt="">
            </li>
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/summer-plasmid-orienteering/slide-picture/2.jpg"
                alt="">
            </li>
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/summer-plasmid-orienteering/slide-picture/3.jpg"
                alt="">
            </li>
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/summer-plasmid-orienteering/slide-picture/4.jpeg"
                alt="">
            </li>
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/summer-plasmid-orienteering/slide-picture/5.jpg"
                alt="">
            </li>
          </ul>
        </div>
        <br>
        <p>
          As our first education event with such a large number of participants, it reminds us that we should make a
          good prediction of the activity volume in the future activities, something like the pre-survey questionnaire
          will be beneficial, so that the public who are interested in synthetic biology can participate in our
          activities as much as possible.
        </p>

        <p>
          A total of 20 groups/persons participated in the “Summer Plasmid Orienteering”, and each participant
          successfully completed the competition. The group with the least time shared was 16'43 ". We distributed
          peripheral products of LZU-CHINA to all participants.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig2.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
          <font size='2'>peripheral products of LZU-CHINA </font>
        </center>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig3.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
          <font size='2'>Photos of her reaching out to elementary schools and interacting with children </font>
        </center>
        <p>
          More details of our activity can click the video below.
        </p>
        <center>
          <iframe title="LZU-CHINA: summer plasmid orienteering (2022) [Chinese]" width="95%" height="500px"
            src="https://video.igem.org/videos/embed/8925f0c9-ecb5-4302-b1bc-1edd2c378b69" frameborder="0"
            allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        </center>
      </div>
      <div class="link_offset"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Feedback Phase</h1>
        <hr>
        <br>
        <p>
          For the participants, we made a feedback questionnaire and asked them about their experience. 100% of the
          participants said they learned something about synthetic biology through the event, 50% of the participants
          said that they did not think they encountered difficulties during the competition, only 25% of the
          participants said that they encountered difficulties in the process of finding plasmids, 62.5% of the
          participants thought that the biological professionalism index of this activity was 3 (general), 62.5% of the
          participants said they were very happy to participate. Some participants also commented that the topic of the
          next activity could focus more on common sense related to biology and life, and better connect biological and
          non-biological majors.
        </p>
        <div id="img-content" style="overflow-x : auto;">
          <ul class="img-list" style="width: 2500px; height: 250px;">
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/education/pie1.png" alt="">
            </li>
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/education/pie2.png" alt="">
            </li>
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/education/pie3.png" alt="">
            </li>
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/education/pie4.png" alt="">
            </li>
            <li class="img-list-item">
              <img src="https://static.igem.wiki/teams/4156/wiki/education/pie5.png" alt="">
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-8">
            <p>For our partner, we have a short interview with Chenxi Yu, director of the General Affairs Department of
              the Student Union of Life Science School in Lanzhou University, after cooperating with us said, this
              activity provided a stage for students to show themselves, enriched their campus life and enhanced their
              understanding of synthetic biology. For the Student Union, it was an unforgettable collaboration that
              showed their ability to work and sense of service.
            </p>
          </div>
          <div class="col-4">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/fig1.jpg" width="100%">
          </div>
        </div>
        <p>
          For our team, we think this is a very meaningful activity! Our interactions with the participants gave us a
          better understanding of what the public's thinks about biology. As the first activity of education, we had a
          little insufficient understanding of the participants and did not correctly estimate the number of
          participants. But we enjoyed the activity itself, and experienced the outdoors nature of the campus with the
          participants. This is a creative way to spread synthetic biology!
        </p>
      </div>

      <div class="link_offset" id="l2"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Intellectual Disabled People</h1>
        <hr>
        <br>
        <p>
          This education event was jointly organized by LZU-CHINA and SCUT-China two iGEM teams, and the event was held
          at the Tianhe Work Therapy Station in Guangzhou City, Guangdong Province. The activities were aimed at people
          receiving treatment at Work Therapy Stations. The "Work Therapy Station" is a living place that provides work
          and treatment for intellectual disabled people, the disabled and the mentally ill (who have generally
          recovered) in the community. We chose them as our educational group because they usually lack communication
          with the outside world, which they have limited access to synthetic biology. We also believe that one of the
          purposes of synthetic biology is to benefit special groups like them, so that barriers between people can be
          removed and the world can become a more equitable and free place.
        </p>
        <p>
          The purpose of the work therapy activities is to make the workers realize their own value, and at the same
          time, let all the intellectually handicapped people have a place to communicate and learn. This activity aims
          to build a communication bridge between our team and vulnerable groups in society; we also hope to enrich the
          amateur life of the intellectually handicapped people by making crafts related to synthetic biology. Our team
          have held several similar events before this, covering multiple groups including children, college students
          and more. Our purpose is also to make synthetic biology known and accepted by more people, so as to create
          favorable conditions for the development of synthetic biology in China.
        </p>
        <p>
          After consultation, our two teams have formulated a new way to let them appreciate the beauty of biology. Our
          team prepared the basic materials included butterfly specimens, fake flowers, watercolor pens, glue and other
          tools. One of the butterfly specimens was collected during our scientific research in the Qilian Mountains,
          with the permission of the local environmental protection bureau, we want people to feel the beauty of nature
          and the wonders of animals. SCUT-China bring the functional silk developed, which can eliminate the public's
          misunderstanding and resistance to genetic modification. We hope they will be able to use these tools to
          stitch and decorate on paper and finally assemble their favorite artwork. In order to make it easier for them
          to take home the artwork they have created, we have also prepared a picture frame so that they can pack the
          finished product in the frame and take it away.
        </p>
        <p>
          At 2:30 pm 30/08/2022, our activity was officially launched at Tianhe Work Therapy Station. The event
          consisted of 10 participators and 5 team members from LZU-CHINA and SCUT-China. At the beginning of the
          activity, we first told the participators about the preparation of materials and the use of specific
          tools(figure4,5). After the explanation, the workers began to use the tools to create art by themselves. Two
          of them have some hand disabilities and need volunteer assistance to create with them(figure6).
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig4.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
          <font size='2'>figure1. the material and tool we prepared</font>
        </center>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig5.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
          <font size='2'>figure2. iGEMers is introducing materials and tools to participants</font>
        </center>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig6.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
          <font size='2'>figure3. iGEMers are assisting incapacitated participants to complete their creations</font>
        </center>
        <br>
        <p>
          After the activity starts, each of them was very involved and were using the tools and rich materials very
          carefully to create their own art (figure7,8). They have put a lot of effort into color matching, material
          selection, material placement and other aspects, and everyone in them is happy at the moment when their own
          artworks are finally created(figure9,10,11). This is the meaning that the combination of biology and art
          brings to them. When everyone finished their art, everyone gathered together to take a big group photo to
          commemorate that afternoon that was so meaningful(figure12,13,14).
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig7.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
          <font size='2'>figure4</font>
        </center>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig8.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
          <font size='2'>figure5</font>
        </center>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig9.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
          <font size='2'>figure6</font>
        </center>
        <br>
        <div class="row">
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/fig10.jpg" width="95%">
            <center>
              <font size='2'>figure7</font>
            </center>
          </div>
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/fig11.jpg" width="95%">
            <center>
              <font size='2'>figure8</font>
            </center>
          </div>
        </div>

        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig12.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>figure9</font>
        </center>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig13.png" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>figure10</font>
        </center>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/fig14.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>figure11</font>
        </center>
        <p>
          In this event, each participant did an excellent job of performing their own artwork. We believe that through
          this activity, they will have a deeper understanding not only the synthetic biology but the beauty of life,
          which we believe will also help them to further carry out their therapy.
        </p>
        <b>
          We promise that all photos were taken with the permission of the staff of the Work Therapy Station and the
          guardians of intellectual disabled people.
        </b>
      </div>

      <div class="link_offset" id="l3"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Primary School Science and Technology Week</h1>
        <hr>
        <br>
        <p>
          Due to the pressure to enter higher education, primary school students in China are basically receiving
          exam-oriented education and have little exposure to synthetic biology. When we found out about this situation,
          we believed that it is necessary to conduct educational activities for elementary school students. Therefore,
          we participated in their Technology and Science Week of Lanzhou University Affiliated Primary School.
        </p>
        <p>
          First, we started with a simple question: "If we eat genetically modified food, will we be genetically
          modified? Why?" The children were more passionate than we could have imagined, and they enthusiastically
          expressed their views. We then talked about genetically modified foods and asked the children what they
          thought about genetically modified foods. Some of them felt that genetic modification would lead to a better
          variety of food, while others felt that genetically modified food is harmful to health. This was used to
          explain to the children the function of genes in living organisms and the basic structure of DNA. Through
          these two questions, we gave the children an initial understanding of genes.
        </p>

        <img src="https://static.igem.wiki/teams/4156/wiki/education/primary-1.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>photo of our lecture start</font>
        </center>
        <p>
          The second part of the science activity was to introduce the children to genetic engineering and its
          application in their lives. We used the manufacturing process of some vaccines as an example to illustrate to
          the children that the use of genetic engineering can benefit mankind. Then we showed promotion video of
          ourselves and NEU_CHINA to introduce our project to the children, who showed a very strong interest. Of
          course, in order to facilitate their understanding, we replaced some of the specialized vocabulary in the
          promotion video and explained it to them in more interesting language. Both we and NEU_CHINA are genetically
          modifying microbes from different angles and hope to inspire them from multiple perspectives.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/primary-2.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>elementary school students were watching our team's science video</font>
        </center>

        <img src="https://static.igem.wiki/teams/4156/wiki/education/primary-3.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>elementary school students were watching NEU_CHINA's science video</font>
        </center>
        <p>
          After watching the video, we made a brief summary of today's content. Subsequently, the intense and exciting
          question answering session was conducted, and students who answered the questions correctly first will receive
          LZU-CHINA and NEU-CHINA's IP products.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/primary-4.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>students were very active in answering questions</font>
        </center>
        <iframe title="LZU-CHINA: Education in Primary School (2022) [English]" width="100%" height="500px"
          src="https://video.igem.org/videos/embed/9dafb0be-9cc6-4002-af48-bffcfb5a0c24" frameborder="0"
          allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" class="mb-3"></iframe>
        <p>At the end of the event, we gave a small gift to each student who participated in the lecture, and also
          distributed a large doll as a reward to the students who answered the most questions. In the end, everyone
          happily took a big group photo with the prizes to end the day's activities.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/primary-5.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>children held up their prizes and took a group photo with us</font>
        </center>
        <p>
          After the event, we distributed a questionnaire to check the effectiveness of the event. Through everyone's
          feedback, the students had the highest evaluation of the preemptive answer session, and the evaluation of the
          classroom explanation and video introduction was also relatively good.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/primary-6.jpg" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>children held up their prizes and took a group photo with us</font>
        </center>
        <p>
          We asked them how well they understood the content and how much you would rate yourself. Most of them gave
          high points The final average score of 89.94 points proved that the students were generally very satisfied
          with their performance in this event and proved that we successfully stimulated their enthusiasm for the life
          sciences field.
        </p>
        <p>
          Then we asked them if they had been exposed to science popularization activities on similar topics before and
          whether they had previously learned about the field of biology. The final results show that more than 80% of
          the students have been in contact with popular science lectures on related topics and have a certain
          understanding of the direction of biology. This is obviously one of the reasons why the response to this event
          has exceeded expectations.
        </p>
        <div class="row mb-3 mt-3">
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/primary-7.jpg" class="d-block mx-auto mt-3"
              width="95%">
          </div>
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/primary-8.jpg" class="d-block mx-auto mt-3"
              width="95%">
          </div>
        </div>


        <p>
          In the end, the students generally felt that the activity was very interesting and gained a lot from it. When
          asked what else they thought, more than half of the students hoped that such activities would be carried out
          more to enrich their knowledge. That's what education is all about. Through education, we promote the
          knowledge of genetically modified organisms and synthetic biology, so that they can be understood by everyone
          for later promotion. Children as the future of the country, to promote to them, will plant the seeds of
          science in their hearts, so that they can lay a foundation for the development of these aspects in the future.
        </p>
      </div>


      <div class="link_offset" id="l4"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Updates to the Education Package</h1>
        <hr>
        <br>
        <p>
          Taking the opportunity of conducting science education in elementary schools as described earlier, we found
          some problems with last year's education package, and we also talked to advisors, as most of them were last
          year's team members. About “Education Package”, more details can visit <a
            href="https://2021.igem.org/Team:LZU-CHINA/Communication">2021 LZU-CHINA's wiki</a>
        </p>
        <p>
          After our discussion, we found that the education package should only be used when there is a teacher
          teaching, and for general awareness education without a teacher, illustrated books, brochures and other
          materials can be issued. So subsequently we cooperated with Worldshaper-HZBIOX and SZ-SHD to come out with
          picture books.
        </p>
        <p>
          And as technology continues to improve, knowledge is faced with constant updates. In order to deliver
          cutting-edge knowledge to students, we have included new material that we have compiled this year. The format,
          in addition to the PowerPoint, adds videos and picture books, and also includes NEU_CHINA's comics.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/update-1.png" class="d-block mx-auto mt-3"
          width="95%">
        <center>
          <font size='2'>content of last year's education package </font>
        </center>
        <div class="row">
          <div class="col-9">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/update-2.png" class="d-block mx-auto mt-3"
              width="95%">
          </div>
          <div class="col-3">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/update-3.png" class="d-block mx-auto mt-3"
              width="95%">
          </div>
        </div>
        <center>
          <font size='2'>the new content we added</font>
        </center>
        <p>
          In the future, we also aim to make it an open platform where educational resources for students from all teams
          can be reviewed and incorporated, developing an electronic repository of synthetic biology. Next year and long
          after, LZU-CHINA will continue to improve this educational package without forgetting the original intention.
          We will make synthetic biology available in areas where educational resources are scarce.
        </p>

      </div>

      <div class="link_offset" id="l5"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Biological Band Performance</h1>
        <hr>
        <br>
        <p>
          We have thought of many ways to combine popular elements with synthetic biology in order to better promote synthetic biology among teenagers. We have worked with SCUT-China in Guangzhou on an event that combined arts and crafts with biology for a special group of people, and the results were so good that we tried to think of other ways of combining arts with synthetic biology in order to promote it more smoothly among teenagers.
        </p>
        <p>
          Happily, a number of our team members are very interested in music and several of us play instruments or sing, and we hit it off and decided to combine popular music with synthetic biology. We decided to adapt a pop track and put synthetic biology into the lyrics! Our lyrics (Chinese) are as follows, with the help of Chuanxin Zhu, leader of the plant group of the Darwin Association. It mainly described the daily life of biology students (lyrics: there are so many different kinds of insects, plants can only be identified to families, and there are still birds to be observed every day)
        </p>
        <iframe id="myframe" src="https://static.igem.wiki/teams/4156/wiki/education/lyrics-pdf.pdf"
        width="100%" height="600" frameborder="0"></iframe>
        <p>
          We contacted the relevant departments at Lanzhou University's Cuiying College and they were very interested in our performance proposal, which coincided with China's National Day, so we organized a party. We used drums and piano, and with only three weeks to go before the show, we spent our free evenings together rehearsing. 
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/bio1.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>the scene of the event</font>
        </center>    

        <p>
          The party was held in the auditorium with an audience of over 300, and our principal was also present for the evening. The audience was very enthusiastic and they were waving glow sticks to the beat of the music as we performed. When we got to our adaptation of the lyrics, we heard laughter from the audience and we agreed that the students from other majors were resonating with us. This is a combination of music and biology, which can reach people more deeply than if we promote synthetic biology in the form of boring lectures.
        </p>
        <div class="row">
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/bio2.jpg" class="d-block mx-auto mt-3" width="95%">
          </div>
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/bio3.png" class="d-block mx-auto mt-3" width="95%">
          </div>
        </div>
        <center>
          <font size='2'>Our team members are playing drum and singing</font>
      </center>    
        <img src="https://static.igem.wiki/teams/4156/wiki/education/bio4.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>principal was also involved</font>
        </center>    
      </div>
      <div class="link_offset" id="l6"></div>
      <div class="pt-content-column-purple p-4">

        <h1>ICII : A Large Collaborative Education Campaign in China</h1>
        <hr>
        <br>
        <p>
          Bringing synthetic biology to the world is one of the core contents of iGEM. As a member of iGEM family, it is our duty to promote synthetic biology to the world. However, academic preaching activities often refer to small-scale professionals, and we hope that synthetic biology can be more easily understood by more people. Therefore, we participated in the national publicity campaign ICII, and carried out popular science education activities with other teams in China for the general population without professional knowledge background.
        </p>
        <div class="row">
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/icii1.jpg" class="d-block mx-auto mt-3" width="95%">
          </div>
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/icii2.jpg" class="d-block mx-auto mt-3" width="95%">
          </div>
        </div>
        <center>
            <font size='2'>posters of ICII</font>
        </center>
        <p>
          In August 2022, we joined the ICII family and worked with many teams to prepare the iGEM online science promotion campaign. ICII, whose full name is 'Into CHINA, Into iGEM', is a large-scale cooperative event promoting synthetic biology and popular science education. This year 's ICII was hosted by NAU-CHINA, and a total of 12 iGEM teams from different circuits across the country were invited to participate. LZU-CHINA was one of them. Unfortunately, due to the impact of the novel coronavirus epidemic, we had to choose to carry out it in the form of live webcasts and cancel offline tours.
        </p>
        <p>
          After discussion within the team, we believe that it is unrealistic to let the public fully understand the content of synthetic biology through a live science broadcast. Therefore, we shifted the focus of our work from 'depth' to 'breadth', hoping to establish the mass consciousness related to synthetic biology as much as possible through this activity. At the same time, we also hope that this 'consciousness' can help the masses in some cases to make different, more correct decisions. Finally, we finalized the theme 'the Principle and Development of Tumor-Targeted Bacterial Therapy '. This is because although the treatment methods based on synthetic biology are developing rapidly, in fact, such treatment methods are often not accepted by the public, so it is necessary to popularize them.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/icii3.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>broadcasting live on the Bilibili platform </font>
        </center>    
        <p>
          During our broadcasting live lecture, we mainly introduce the origin and development of bacterial therapy, also introduce its principle in a straightforward way. At the same time, we have carried out the current situation of tumor treatment, tumor treatment methods and the characteristics of bacterial therapy. The purpose is to tell the public the advantages of bacterial therapy and improve the public acceptance. Finally, our live broadcast reached more than 100 people's views. After the end of the live broadcast, there have been audience in the background to ask us about the content, which is very gratifying. In addition, iGEM team BIT-CHINA took note of us through this live broadcast and discussed the use of related genetic parts with us. We are pleased to take this opportunity to help other iGEM teams.
        </p>
        <iframe id="myframe" src="https://static.igem.wiki/teams/4156/wiki/education/icii-pdf.pdf"
        width="100%" height="600" frameborder="0"></iframe>
        <p>
          In addition, in order to make iGEM activities more close to the local, LZU-CHINA combines the urban culture of Lanzhou city to promote iGEM and Lanzhou university, showing the world China's rich and colorful traditional culture, so that the world knows more about China.
        </p>
        <iframe title="LZU-CHINA: ICII video (2022) [English]" width="95%" height="400px" src="https://video.igem.org/videos/embed/d6f8b891-60c8-4ca8-bc7c-50fbe5c7085f" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
      </div>
      <div class="link_offset" id="l7"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Emoji Packs for Public</h1>
        <hr>
        <br>
        <p>
          In order to meet the communication trend of the Internet era, we transformed the original IP image on the
          basis of ensuring recognition, and redrew it with Adobe illustrator to create a group of emoji packs in line
          with the thinking of young people. In terms of design, we adopted the popular "double characters" emoji pack
          design strategy, choosing "ugly and cute" as the overall style and blue and pink as the theme colors. In the
          production, we used After effects and Photoshop to optimize the dynamic effect, and officially put it on the
          platform of WeChat stickers in August.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/emoji1.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>our emoji packs</font>
        </center>    

        <p>
          At the same time, we cooperated with the official campus media of Lanzhou University, CYOnline Design
          Department, to produce the WeChat tweet "International competition gold! Watch them continue to research this
          year" to promote the emojis. This tweet cleverly combined emoji promotion with science popularization to help
          university students understand the progress of colorectal cancer research and obtain preventive measures for
          colorectal cancer. We also provided a brief introduction to the targeted bacterial therapy used in the
          project, promoting the popularity of cutting-edge technologies in biology to the general public.
        </p>
        
        <div class="row">
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/emoji2.png" class="d-block mx-auto mt-3" width="95%">
          </div>
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/emoji3.png" class="d-block mx-auto mt-3" width="95%">
          </div>
        </div>
        <center>
            <font size='2'>the content of our tweet</font>
        </center>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/emoji4.png" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>we have gained a lot of readership</font>
        </center>        
      </div>
      <div class="link_offset" id="l8"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Art Exhibition</h1>
        <hr>
        <br>
        <p>
          To continue to expand our influence on the public, we collaborated with iBowu-China to launch a Life on Earth Art Exhibition at the Yue Art Museum in Beijing's 798 Art District to educate the public about the beauty of biology and stimulate people to think about coexistence with nature. Artists from our team also contributed artworks.
        </p>
        <div class="row">
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/hp/art1.png" class="d-block mx-auto mt-3" width="95%">
          </div>
          <div class="col-6">
            <img src="https://static.igem.wiki/teams/4156/wiki/hp/art2.jpg" class="d-block mx-auto mt-3" width="95%">
          </div>
        </div>
        <center>
            <font size='2'>poster of exhibition and list of exhibiting artists</font>
        </center>

        <p>
          The event was inspired by dimensional biology and encouraged the public to see the biological world from a different perspective. The organizers of the exhibition said: "As an insignificant drop in the sea of time and space, we cannot choose where we are, but we can choose the dimension of looking up at the sea. "Let us embark on this dimensionless escape with the bravery of an era and the humility of a single cell."
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/hp/art3.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>people who visited the exhibition at the art museum</font>
        </center>    
        <img src="https://static.igem.wiki/teams/4156/wiki/hp/art4.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>exhibition introduction</font>
        </center>    
        <p>
          Our team's artistist contributed two works to the event. One of them is called The Trip of the Iceberg. There are several books on it, one of which has two polar bears on it, and although they are lifelike, their living environment is not optimistic, and it is easy to retreat to the book. This work wants to warn people that if human beings do not protect our environment from now on, these things will only stay in textbooks in the future.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/hp/art5.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>works of our artists</font>
        </center>    
        <p>
          Another work is called the Plague. Design descripted the circle is the harmonious home of animals, to orangutans, bats and other animals represent the biological vectors that spread the virus, but the virus can live peacefully with animals, the red on the orangutan and bat represents the virus, but it will not occur in their bodies, outside the circle is the virus mutation, infecting the scene of human beings, implying that nature walks its own sense of balance, if you wantonly destroy or do things against the laws of nature, you will ultimately suffer from us humans.
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/hp/art6.jpg" class="d-block mx-auto mt-3" width="95%">
        <center>
            <font size='2'>tourists were watching our paintings</font>
        </center>    
        <p>
          These works have been well received by the audience. Some viewers thought that they were very touched after watching it and would be more committed to the cause of environmental protection, and some viewers said that after appreciating the work, they had a deeper thinking about the relationship between human and the natural biological world. That's what we're hoping to achieve.
        </p>
      </div>
      <div class="link_offset" id="l9"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Gut Alliance</h1>
        <hr>
        <br>
        <div class="row">
          <div class="col-10">
            <p>
              We were fortunate to meet a number of teams working on gut microbiology at the Northwest meeting. Together we formed the Gut Alliance to make our voices heard. We invited experts and health care professionals in gut microbiology to give presentations to make the public understand gut microbiology. We actively communicated with each other in the "Gut Alliance" group chat to discuss the format of the event. After deciding on the format of the event, each team prepared a topic for popularization.
            </p>
          </div>
          <div class="col-2">
            <img src="https://static.igem.wiki/teams/4156/wiki/hp/gut1.png" class="d-block mx-auto mt-3" width="95%">
          </div>
        </div>
        <p>
          On August 14, our activity officially started with a video of blessing from President Canhui Lan, president of the Institute of Enthusiastic Biotechnology and Executive Chairman of the China Intestinal Conference. After that we were honored to invite Prof. Daixu Wei to give us a lecture entitled "Intestine and Tracts". Finally, Nurse Director Xiaojuan Dong from the Fifth People's Hospital of Shaanxi Province gave us a lecture entitled "Those things about upper gastrointestinal hemorrhage". Then came the science of each team.
        </p>
        <p>
          NWU-CHINA-A took us to unravel the mystery of H. pylori, WS_HZBIOX introduces the relationship between sugar substitute and intestinal flora, LZU-CHINA introduces the occurrence and detection of colorectal cancer, NEU-CHINA introduces the damage of sugar-free drinks on intestinal health flora and the role of prebiotics and probiotics on intestinal health, LZU-HS-PRO-A introduces the principle of gut-brain axis, HS-China's iGEMer introduced lactose intolerance and the treatment of lactose intolerance. The event was attended by nearly 100 people on the day, which caused a strong response.
        </p>
        
        <img src="https://static.igem.wiki/teams/4156/wiki/hp/gut2.png" class="d-block mx-auto mt-3" width="95%">      
        <p>
          We condensed the event into a "Gut Alliance Brochure" and distributed it to everyone online to make the impact of our program even more profound.
        </p>
        <iframe id="myframe" src="https://static.igem.wiki/teams/4156/wiki/hp/gutpdf.pdf"
        width="100%" height="600" frameborder="0"></iframe>
      </div>

      <div class="link_offset" id="l10"></div>
      <div class="pt-content-column-purple p-4">

        <h1>Mid-Autumn Lantern</h1>
        <hr>
        <br>
        <p>
          The fluorescent protein was expressed by E. coli to make it fluorescence, and the luminescent bacteria was wrapped in hydrogel, which recipe provided by NEU_CHINA. The hydrogel protects the strain well from being taken out of the lab, so we started with a tour of the fluorescent bacteria encased in the hydrogel to give people an initial insight into E. coli and transgenics.
        <b>We had everyone properly disinfected during the entire visit in and out of the lab, and we were the only ones who had access to the genetically modified fluorescent bacteria throughout. So the whole activity does not bring microorganisms out of the laboratory.</b> 
        </p>
        <img src="https://static.igem.wiki/teams/4156/wiki/education/mid-autumn/fig1.png" class="d-block mx-auto mt-3" height="70%" width="60%">      
        <center>
          <font size='2'>the fluorescent bacteria encased in the hydrogel we showed to audience</font>
      </center> 
        <br>
        <p>Just in time for the Mid-Autumn Festival, lanterns are a traditional custom for the Chinese Mid-Autumn Festival. We use the lantern to symbolize the E. coli carrier. We made lanterns that glow with light color same as the protein, GFP and RFP, which the whole lantern is a symbol of transgenic E. coli. We bought some simple materials and together we made the outside of the lantern.</p>
        <div class="row justify-content-evenly">
          <div class="col-4">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/mid-autumn/fig2.jpg" class="d-block mx-auto mt-3" width="95%">      
          </div>
          <div class="col-4">
            <img src="https://static.igem.wiki/teams/4156/wiki/education/mid-autumn/fig3.jpg" class="d-block mx-auto mt-3" width="95%">      
          </div>
        </div>
        <center>
          <font size='2'>the process we made lanterns</font>
      </center> 
      <br>
      <p>We used the lanterns as a festive atmosphere to celebrate the Mid-Autumn Festival with our school teachers and students, as well as with the staff who work for us, and to promote and educate people about the principles of making fluorescent lanterns. Finally, we also gave these lanterns as holiday gifts to the cafeteria staff to thank them for their thoughtful and elaborate service to the students and teachers.</p>
      <div class="row justify-content-evenly">
        <div class="col-4">
          <img src="https://static.igem.wiki/teams/4156/wiki/education/mid-autumn/fig4.jpg" class="d-block mx-auto mt-3" width="95%">      
        </div>
        <div class="col-4">
          <img src="https://static.igem.wiki/teams/4156/wiki/education/mid-autumn/fig5.jpg" class="d-block mx-auto mt-3" width="95%">      
        </div>
      </div>
      <center>
        <font size='2'>people were holding lanterns they made</font>
    </center> 
    </div>
    <div class="link_offset" id="l11"></div>
    <div class="pt-content-column-purple p-4">

      <h1>Debate Competition</h1>
      <hr>
      <br>
      <p>To continue to expand the impact of synthetic biology, we and NEU_CHINA organized a debate between the two schools on the safety of genetically modified foods. There was no winner or loser in the end of this competition, it was just a way to integrate biology into everyday life and give you some new ideas.</p>
      <img src="https://static.igem.wiki/teams/4156/wiki/education/mid-autumn/fig6.png" class="d-block mx-auto mt-3" height="70%" width="60%"> 
    </div>
  </div>


  </div>
</div>
{% endblock %}